<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258257768214-k4cvtvumvcrmddra3gedlvjgsta3iln5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258257768214-k4cvtvumvcrmddra3gedlvjgsta3iln5</string>
	<key>API_KEY</key>
	<string>AIzaSyBSt-0-0ItqOzFcOF9_qlbuIIpnkutp-bg</string>
	<key>GCM_SENDER_ID</key>
	<string>258257768214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signinRegis</string>
	<key>PROJECT_ID</key>
	<string>testproject-773c7</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-773c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258257768214:ios:6a38097cb8dcfece6c8a37</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-773c7.firebaseio.com</string>
</dict>
</plist>